.contacto{
    /* no quitar display grid*/
    display:grid;
    height: 100vh;
    background-attachment: fixed;
    background-image: url('./img/fondoPaginas/fondoContacto.jpg');
    background-size: 1920px 1080px;
    
}
.titulo{
        margin-left: 25vw;
        align-items: center;
        font-size: 60px;
       
}
.telefono-barra{
    margin-left: 25vw;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: -30vh;
}
.number{
    font-size: 30px;
    
}
.mail-barra{
    margin-left: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -25vh;
}
.socialmedia-barra{
    margin-left: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -20vh;
}
.social-block{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}
.social-logo{
    height: 100px;
    width: 100px;
}
.link-text{
    color: rgb(29, 165, 120);
    font-size: 40px;
}

@media screen and (max-width: 800px) {
    .contacto{
        margin-left: -11vw;
        background-size: 600px 900px;
    }
    .titulo{
        height: 10px;
        margin-top: 0vh}
    .telefono-barra{
        height: 10px;
        margin-top: -6vh;
    }
    .number{
        font-size: 18px;
    }
    .mail-barra{
        height: 10px;
        margin-top: -12vh;
    }
    .socialmedia-barra{
        height: 10px;
        margin-top: -12vh;
    }
    .social-logo{
        height: 45px;
        width: 45px;
    }
    .link-text{
        font-size: 13px;
  }}