.estudios{

    display:grid;
    background-color: rgb(7, 7, 129);
    height: 100vh;
  

}
.titulo{
    
}
.estudios-uni{
    margin-left: 25vw;
    margin-top: -20vh;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items:center;
    justify-content:space-evenly;
}

.gallery-percentage{
    background-color: white;
    display: flex;
    flex-direction: row;
}