.estudios{

    display:grid;
    background-color: rgb(7, 7, 129);
    height: 570vh;
    background-attachment: fixed;
    background-image: url('./img/fondoPaginas/fondoEstudios.jpg');
    background-size: 1920px 1080px;

}
.titulo{
    
}
.estudios-uni{
    margin-left: 20vw;
    margin-top: -10vh;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items:center;
    justify-content:space-evenly;
}
.text-uni{
    padding-left: 12px;
    padding-right: 19px;
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
    height: 120px;
}

.gallery-percentage {
    margin-top: -25vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
}
.percentage{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 40px;
}
.site-container{
    margin-top: -9vh;
    align-items: center;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
}
.site-logo{
    height: 200px;
    width: 400px;
    z-index: 0;
}
.gallery{
    z-index: 1;
}

@media screen and (max-width: 800px) {
.estudios{
    height: 2900px;
    background-size: 600px 900px;
}
.estudios-uni{
    width: 280px;
    flex-direction:column;
}
.escudo{
    width: 280px;
}
.site-logo{
    height: 100px;
    width: 200px;
    z-index: 0;
}
.gallery-percentage {

    flex-direction:column-reverse;

}
.percentage{
    height: 90px;
    width: 90px;
    margin-left: 0px;
}
.text-uni{
    height: 330px;
}

}
