
.slide-container {
    width: 800px;
    height: 450px;
    margin: 0;
    
  }
  

  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100%;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 200px;
    background:transparent;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
  
  .indicator {
    width: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    border: 1px rgb(0, 0, 0) solid;
    background: #b0fbff;
    margin-top: -20px;
    margin-bottom: 20px;
    z-index:2;
  }
  .indicator.active {
    
    background: #1eb8ff;
    color: #fff;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    z-index:2;
  }
.lazy{
  width: 800px;
  height: 450px;
}