.navbar{
    background-color: rgb(30, 51, 239);
    position:fixed;
    height: 100vh;
    width: 12%;
    z-index: 1;
    display: flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items:stretch;
    row-gap: 0;
    
}

.navbar:hover{
    width: 20%;
    transition: 1s;
}
.nav{
    background-color: rgb(30, 51, 239);
    list-style-type: none;
    height: 25vh;
    
}

.nav:hover{
    background-color: rgb(67, 161, 255);
    
}

.nav{
    background-color: rgb(30, 51, 239);
    list-style-type: none;
    height: 25vh;
    
}

.nav:hover{
    background-color: rgb(67, 161, 255);
    
} 




.item{
   height: 100%; 
    width: 100%;
    display: flex ;
    flex-direction: row ;
    justify-content: center;
    align-items:center;
}

.link{
  
}

.logo{
    height: 100%;
    max-height: 25vh;
    width: 100%;
    max-width: 25vh;
    
   
}
.texto{
    color: transparent;
    font-size: 25px;
    position: fixed;
    width: 0%;
    margin-left: 15vw;
    margin-top: -15vh;
}
.nav:hover .texto{

    font-size: 25px;
    background-color: rgb(27, 202, 255);
    color: rgb(0, 10, 84);
    width: 250px;
    transition: 2s;
}