.navbar{
    background-color: rgb(45, 129, 0);
    position:fixed;
    height: 100vh;
    width: 12%;
    z-index: 1;
    display: flex; 
    flex-direction:column;
    justify-content: flex-start;
    align-items:stretch;
    row-gap: 0;
    z-index: 20;
}

.navbar:hover{
    width: 20%;
    transition: 1s;
}
.nav{
    background-color: rgb(23, 66, 0);
    list-style-type: none;
    height: 25vh;
    
}

.nav:hover{
    background-color: rgb(250, 183, 138);
    
}

.item{
   height: 100%; 
    width: 100%;
    display: flex ;
    flex-direction: row ;
    justify-content: center;
    align-items:center;
}

.link{

}


.logo{
    height: 100%;
    max-height: 25vh;
    width: 100%;
    max-width: 25vh;
    
   
}
.texto{
    color:transparent;
    font-size: 25px;
    position: fixed;
    width: 0px;
    padding-left: 5vw;
    margin-left: -50vw;
    margin-top: -15vh;
    transition-property: width, margin-left, background-color, color;
    transition-duration:1s,0.01s,1s,1s ;
}

.nav:hover .texto{
    width: 250px;
    margin-left: 10vw;
    background-color: rgb(250, 183, 138);
    color: rgb(0, 0, 0);
    
}

.link-texto{
    color: transparent;
    font-size: 25px;
    width: 0px;
}

.nav:hover .link-texto{
    width: 100%;
    color: rgb(0, 10, 84);
}

@media screen and (max-width: 800px) {
    .texto{
        margin-left: -50vw;
        
    }
    .nav:hover .texto{
        margin-left: 17vw;
    }
  }