.app{
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #0e1b5a;
  height: 100vh;

  
  }

.name{
  
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(255, 255, 255);
  font-size: 6vmin;
  text-align: center;
  border-radius: 40px 40px 0px 0px;
}

.titles{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgb(255, 255, 255);
  font-size: 6vmin;
  text-align: center;
  border-radius: 0px 0px 40px 40px;
}

.photo{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;

  
}


.mi_foto{
  height: 99%;
  width: 100%;
}

